<!DOCTYPE html>
<!--[if IEMobile 7]><html class="iem7"  lang="ru" dir="ltr"><![endif]-->
<!--[if lte IE 6]><html class="lt-ie9 lt-ie8 lt-ie7"  lang="ru" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html class="lt-ie9 lt-ie8"  lang="ru" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="lt-ie9"  lang="ru" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><html  lang="ru" dir="ltr"><!--<![endif]-->


<!-- Mirrored from www.rbkmoney.ru/ru/internet-magazinam by HTTrack Website Copier/3.x [XR&CO'2013], Mon, 09 Sep 2013 14:45:39 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head profile="http://www.w3.org/1999/xhtml/vocab">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="cleartype" content="on">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,400italic&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/default/files/css/css_791YXBaKKm1ORM_7huSKEsIV9tSWq6wmRkERhuXpN6w.css")" media="all" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/default/files/css/css_botNHIYRQPys-RH2iA3U4LbV9bPNRS64tLAs8ec1ch8.css")" media="all" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/default/files/css/css_Un2IJ335xXK1yMz7SQXdBeFijymkEo1SZD9eTEn_T8E.css")" media="all" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/default/files/css/css_kKHV0UvXAhkjongkZsVf5r2WTcWFeG7_gUuzwJ21-qY.css")" media="all" />
    <script src="@Url.Content("~/Content/default/files/js/js_0gj6QcpfRH2jzTbCQqf7kEkm4MXY0UA_sRhwPc8jC1o.js")"></script>
    <script src="@Url.Content("~/Content/default/files/js/js_sn5bSR33aK-2P_6cLIzwTUezSJuAh2rGk3_ssnx2GDU.js")"></script>
    <script src="@Url.Content("~/Content/default/files/js/js_uwu-B6HsKH3oFHj-IzRyA_l1IXUmf-319Hwn4Ushm8U.js")"></script>
    <script>jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"ru\/","ajaxPageState":{"theme":"rbkm","theme_token":"NqnNrsowi0jydRPylEWBrVfhFIlKq8QI5U2NMvoQsnk","js":{"sites\/all\/modules\/jquery_update\/replace\/jquery\/1.7\/jquery.min.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"public:\/\/languages\/ru_qqvtou85yJ-HRDoixiUK8VaT6ozqHJflhvcS0qN6YX8.js":1,"sites\/all\/modules\/views_slideshow\/js\/views_slideshow.js":1,"sites\/default\/themes\/rbkm\/js\/online-shops.js":1,"sites\/default\/themes\/rbkm\/js\/help_panel.js":1,"sites\/all\/modules\/image_captcha_refresh\/image_captcha_refresh.js":1,"sites\/all\/modules\/webform\/js\/webform.js":1,"sites\/default\/themes\/rbkm\/js\/cookie.js":1,"sites\/all\/modules\/clientside_validation\/jquery-validate\/jquery.validate.min.js":1,"sites\/all\/modules\/captcha\/captcha.js":1,"sites\/default\/themes\/rbkm\/bootstrap\/js\/bootstrap.js":1,"sites\/all\/modules\/lang_dropdown\/lang_dropdown.js":1,"sites\/all\/modules\/clientside_validation\/clientside_validation.ie8.js":1,"sites\/all\/modules\/clientside_validation\/clientside_validation_html5\/clientside_validation_html5.js":1,"sites\/all\/modules\/clientside_validation\/clientside_validation.js":1,"sites\/default\/themes\/rbkm\/js\/script.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.menus.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"modules\/field\/theme\/field.css":1,"modules\/node\/node.css":1,"modules\/user\/user.css":1,"sites\/all\/modules\/views\/css\/views.css":1,"sites\/all\/modules\/ckeditor\/ckeditor.css":1,"sites\/all\/modules\/ctools\/css\/ctools.css":1,"sites\/all\/modules\/views_slideshow\/views_slideshow.css":1,"sites\/default\/themes\/rbkm\/rbkm-internals\/css\/m_banner.css":1,"sites\/all\/modules\/webform\/css\/webform.css":1,"sites\/default\/themes\/rbkm\/bootstrap\/css\/bootstrap.css":1,"sites\/default\/themes\/rbkm\/bootstrap\/css\/docs.css":1,"sites\/all\/modules\/lang_dropdown\/lang_dropdown.css":1,"sites\/default\/themes\/rbkm\/system.menus.css":1,"sites\/default\/themes\/rbkm\/rbkm-internals\/css\/normalize.css":1,"sites\/default\/themes\/rbkm\/rbkm-internals\/css\/wireframes.css":1,"sites\/default\/themes\/rbkm\/rbkm-internals\/css\/layouts\/responsive-sidebars.css":1,"sites\/default\/themes\/rbkm\/rbkm-internals\/css\/page-backgrounds.css":1,"sites\/default\/themes\/rbkm\/rbkm-internals\/css\/tabs.css":1,"sites\/default\/themes\/rbkm\/rbkm-internals\/css\/pages.css":1,"sites\/default\/themes\/rbkm\/rbkm-internals\/css\/blocks.css":1,"sites\/default\/themes\/rbkm\/rbkm-internals\/css\/navigation.css":1,"sites\/default\/themes\/rbkm\/rbkm-internals\/css\/views-styles.css":1,"sites\/default\/themes\/rbkm\/rbkm-internals\/css\/nodes.css":1,"sites\/default\/themes\/rbkm\/rbkm-internals\/css\/comments.css":1,"sites\/default\/themes\/rbkm\/rbkm-internals\/css\/forms.css":1,"sites\/default\/themes\/rbkm\/rbkm-internals\/css\/fields.css":1,"sites\/default\/themes\/rbkm\/rbkm-internals\/css\/print.css":1,"sites\/default\/themes\/rbkm\/rbkm-internals\/css\/style.css":1}},"clientsideValidation":{"forms":{"webform-client-form-50":{"errorPlacement":"1","general":{"errorClass":"error","wrapper":"li","validateTabs":0,"scrollTo":1,"scrollSpeed":"1000","disableHtml5Validation":"1","validateOnBlur":"1","validateOnBlurAlways":"0","validateOnKeyUp":"1","validateOnSubmit":"1","showMessages":"0","errorElement":"label"},"rules":{"submitted[description]":{"required":true,"messages":{"required":"\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u0432\u0430\u0448\u0435\u0433\u043e \u0431\u0438\u0437\u043d\u0435\u0441\u0430 \u044f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u043c \u043f\u043e\u043b\u0435\u043c. "}},"submitted[name]":{"required":true,"messages":{"required":"\u0412\u0430\u0448\u0435 \u0438\u043c\u044f \u044f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u043c \u043f\u043e\u043b\u0435\u043c. ","maxlength":"\u0412\u0430\u0448\u0435 \u0438\u043c\u044f field has a max length of 128 characters."},"maxlength":128},"submitted[email]":{"required":true,"messages":{"required":"E-mail \u0434\u043b\u044f \u0441\u0432\u044f\u0437\u0438 \u044f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u043c \u043f\u043e\u043b\u0435\u043c. ","email":"\u0417\u043d\u0430\u0447\u0435\u043d\u0438\u0435 \u043f\u043e\u043b\u044f E-mail \u0434\u043b\u044f \u0441\u0432\u044f\u0437\u0438 \u043d\u0435 \u044f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043a\u043e\u0440\u0440\u0435\u043a\u0442\u043d\u044b\u043c \u0430\u0434\u0440\u0435\u0441\u043e\u043c e-mail."},"email":true},"captcha_response":{"captcha":"captcha_validate_case_insensitive_ignore_spaces","messages":{"captcha":"\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442 \u0434\u043b\u044f \u043f\u043e\u043b\u044f \u0412\u0432\u0435\u0434\u0438\u0442\u0435 \u0441\u0438\u043c\u0432\u043e\u043b\u044b \u0441 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0438 ","required":"\u0412\u0432\u0435\u0434\u0438\u0442\u0435 \u0441\u0438\u043c\u0432\u043e\u043b\u044b \u0441 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0438 \u044f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u043c \u043f\u043e\u043b\u0435\u043c. ","maxlength":"\u0412\u0432\u0435\u0434\u0438\u0442\u0435 \u0441\u0438\u043c\u0432\u043e\u043b\u044b \u0441 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0438 field has a max length of 128 characters."},"required":true,"maxlength":128}}},"webform-client-form-51":{"errorPlacement":"1","general":{"errorClass":"error","wrapper":"li","validateTabs":0,"scrollTo":1,"scrollSpeed":"1000","disableHtml5Validation":"1","validateOnBlur":"1","validateOnBlurAlways":"0","validateOnKeyUp":"1","validateOnSubmit":"1","showMessages":"0","errorElement":"label"},"rules":{"submitted[description]":{"required":true,"messages":{"required":"\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435 \u0432\u0430\u0448\u0435\u0433\u043e \u0431\u0438\u0437\u043d\u0435\u0441\u0430 \u044f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u043c \u043f\u043e\u043b\u0435\u043c. "}},"submitted[name]":{"required":true,"messages":{"required":"\u0412\u0430\u0448\u0435 \u0438\u043c\u044f \u044f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u043c \u043f\u043e\u043b\u0435\u043c. ","maxlength":"\u0412\u0430\u0448\u0435 \u0438\u043c\u044f field has a max length of 128 characters."},"maxlength":128},"submitted[email]":{"required":true,"messages":{"required":"E-mail \u044f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u043c \u043f\u043e\u043b\u0435\u043c. ","email":"\u0417\u043d\u0430\u0447\u0435\u043d\u0438\u0435 \u043f\u043e\u043b\u044f E-mail \u043d\u0435 \u044f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043a\u043e\u0440\u0440\u0435\u043a\u0442\u043d\u044b\u043c \u0430\u0434\u0440\u0435\u0441\u043e\u043c e-mail."},"email":true},"captcha_response":{"captcha":"captcha_validate_case_insensitive_ignore_spaces","messages":{"captcha":"\u041d\u0435\u0432\u0435\u0440\u043d\u044b\u0439 \u043e\u0442\u0432\u0435\u0442 \u0434\u043b\u044f \u043f\u043e\u043b\u044f \u0412\u0432\u0435\u0434\u0438\u0442\u0435 \u0441\u0438\u043c\u0432\u043e\u043b\u044b \u0441 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0438 ","required":"\u0412\u0432\u0435\u0434\u0438\u0442\u0435 \u0441\u0438\u043c\u0432\u043e\u043b\u044b \u0441 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0438 \u044f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u043c \u043f\u043e\u043b\u0435\u043c. ","maxlength":"\u0412\u0432\u0435\u0434\u0438\u0442\u0435 \u0441\u0438\u043c\u0432\u043e\u043b\u044b \u0441 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0438 field has a max length of 128 characters."},"required":true,"maxlength":128},"submitted[msg]":{"required":true,"messages":{"required":"\u0421\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435 \u044f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u043c \u043f\u043e\u043b\u0435\u043c. "}},"submitted[first_name]":{"required":true,"messages":{"required":"\u0418\u043c\u044f \u044f\u0432\u043b\u044f\u0435\u0442\u0441\u044f \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u043c \u043f\u043e\u043b\u0435\u043c. ","maxlength":"\u0418\u043c\u044f field has a max length of 128 characters."},"maxlength":128}}}},"general":{"usexregxp":0},"groups":{"webform-client-form-50":{},"webform-client-form-51":{}}}});</script>
    <!--[if lt IE 9]>
    <script src="/sites/default/themes/rbkm/js/html5-respond.js"></script>
    <![endif]-->
</head>
<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-255 node-type-long-page i18n-ru section-internet-magazinam" >
    <p id="skip-link">
        <a href="#main-menu" class="element-invisible element-focusable">Jump to navigation</a>
    </p>
      
    <div id="page">
        <header id="header" role="banner">
            <div class="inner">
                <a href="http://www.rbkmoney.ru/ru" title="Главная" rel="home" id="logo"><img src="@Url.Content("~/Content/default/files/logo_0_0.jpg")" alt="Главная"/></a>
                <div class="region region-header">
                    <div id="block-lang-dropdown-language" class="block block-lang-dropdown first odd">
                        <form action="http://www.rbkmoney.ru/ru/internet-magazinam" method="post" id="lang-dropdown-form" accept-charset="UTF-8">
                            <div>
                                <div class="form-item form-type-select form-item-lang-dropdown-select">
                                    <select style="width:60px" class="lang-dropdown-select-element form-select" id="edit-lang-dropdown-select" name="lang_dropdown_select"><option value="en">EN</option><option value="ru" selected="selected">RU</option></select>
                                </div>
                                <input type="hidden" name="lang_dropdown_type" value="language" />
                                <input type="hidden" name="en" value="/en/internet-shops" />
                                <input type="hidden" name="ru" value="/ru/internet-magazinam" />
                                <noscript><div>
                                              <input class="btn form-submit" type="submit" id="edit-submit--2" name="op" value="Go" />
                                          </div></noscript><input type="hidden" name="form_build_id" value="form-C8L6Qk1zlg3qCph1Y61PDc0AMp-5I5rKcWZVaM9x3bE" />
                                <input type="hidden" name="form_id" value="lang_dropdown_form" />
                            </div>
                        </form>
                    </div><!-- /.block -->
                    <div id="block-system-main-menu" class="block block-system block-menu even" role="navigation">
                        <ul class="menu">
                            <li class="first leaf active-trail"><a href="internet-magazinam.html" class="active-trail active">Интернет магазинам</a></li>
                            <li class="leaf"><a href="offlayn-magazinam.html" title="">Оффлайн магазинам</a></li>
                            <li class="last leaf"><a href="koshelek-rbk-money.html" title="">Кошелек RBK Money</a></li>
                        </ul>
                    </div><!-- /.block -->
                    <div id="block-block-1" class="block block-block last odd">
                        <div class="reg">
                            <a href="http://www.rbkmoney.ru/registratsiya-v-sisteme">Регистрация</a>
                        </div>
                        <div class="logon">
                            <a href="https://rbkmoney.ru/login.aspx">Войти</a>
                        </div>
                    </div><!-- /.block -->
                </div><!-- /.region -->
            </div>
        </header>
        @RenderBody()
    </div>
</body>
</html>